/* VARIABLES */
:root {
  --baseFont: 'Open Sans Condensed', sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--baseFont);
  padding: 20px 60px;
}

*,
*:before,
*:after {
box-sizing: inherit;
}
